/* src/styles/scss/site.module.css  */

.site_main {
  background-color: whiteSmoke; 
  /*background: var(--main-bg-light); */
 }
 
 .site_content {
   padding: 3rem 1rem 1rem;
 }
 
 .site_content img {
   display: block;
   width: 100vw;
 }
 
 @media screen and (min-width: 600px) {
   .site_content {
     padding: 1em;
     padding-top: 2rem; 
   }
   .site_content img {
     display: block;
     width: inherit;
   }
 }
 
 @media screen and (min-width: 600px) {
   .site_content {
       width: 780px;
       margin: 0 auto;
       font-size: 1.125rem;
   }
 
 }